* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

.header__top {
    border-bottom: 1px solid #808080;
    height: 80px;
}

.header__content {
    padding: 34px 0px 23px;
}

.header__text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #808080;
    position: relative;
    top: 25px;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.header__contacts:after {
    content: "";
    clear: both;
    display: block;
}

.header__links {
    color: #808080;
    position: relative;
    top: 25px;
    float: right;
    padding: 0px 0px 2px 60px;
}

.header__contacts a:hover {
    color: #00ca10;
    transition: all .3s;
}

#facebook::before {
    content: "\ea91";
    font-family: 'icomoon';
    font-size: 20px;
    line-height: 20px;
}

#twitter::before {
    content: "\ea96";
    font-family: 'icomoon';
    font-size: 20px;
    line-height: 20px;
}

#pinterest::before {
    content: "\ead1";
    font-family: 'icomoon';
    font-size: 20px;
    line-height: 20px;
}

#linkedIn::before {
    content: "\eac9";
    font-family: 'icomoon';
    font-size: 20px;
    line-height: 20px;
}

#mail::before {
    content: "\e945";
    font-family: 'icomoon';
    font-size: 20px;
    line-height: 20px;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
}
.menu{
    margin-top: 20px;
}
.menu li {
    display: inline-block;
}

.menu li+li {
    padding-left: 15px;
}

.menu a {
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    padding: 0px 16px;
    transition: all .1s;
    /*замедление для анимации*/
}

.menu a:hover {
    background-color: #66BB6A;
    border-bottom: 3px solid #2E7D32;
}

.default-btn {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #202120;
    font-weight: 500;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 3px solid #2E7D32;
    border-right-width: 20px;
    position: relative;
    z-index: 2;
    outline: none;
}
#sl1{
    background-image: url(../img/bg-img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 800px;
}
#sl2{
    background-image: url(../img/bg-img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 800px;
}
#sl3{
    background-image: url(../img/bg-img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 800px;
}

.slider__item-content{
    text-align: left;
    color:#fff;
    float:left;
    padding: 20px 35px 20px 35px;
    height: 100%;
    width: 500px;
    margin: 300px 100px;
    background-color: rgba(21, 21, 21, 0.7); /* Цвет фона и значение прозрачности */
    border-left: 5px solid #2e7d32 
}
.slider__item-content .default-btn,
.recipes__item .default-btn{
    margin-top: 20px;
    color:#fff;
    transition: all .1s;
}
.slider__item-content .default-btn:hover,
.recipes__item .default-btn:hover{
    background-color: #2E7D32;
}

.slider__title,.recipes__title{
    text-transform: uppercase;
    font-size: 35px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 22px;
}

.slider__text,.recipes__text{
    line-height: 24px;
    font-size: 18px;
    color: #d3d3d3;
    padding-top: 10px;
    padding-bottom: 10px;
}


.slick-btn {
    position: absolute;
    top: 50%;
    z-index: 3;
    width: 60px;
    height: 60px;
    border: 2px solid#2E7D32;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    transition: all .7s;
}
.slick-btn:hover{
    background-color: #2E7D32;

}

.slick-btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    font-size: 22px;
    color: #fff;
}

.slick-next::before {
    content: "\e900";
}

.slick-next {
    right: 5px;
}

.slick-prev::before {
    content: "\e901";
}

.slick-prev {
    left: 5px;
}
.example_recipes__inner{
    display: flex;
    justify-content: space-between;
}
.recipes__item{
    position: relative;
    color:#fff;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    width: 550px;
    margin-top: 40px;
    padding: 40px 50px 20px 50px;
    
}
 
#exprc1{
    background-image: url(../img/bg-img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    margin-left: 10px;
 }
#exprc2{
    background-image: url(../img/bg-img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    margin-right: 10px;
 }